<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean id="record" name="r1,r2 r3;r4" class="di.NewlecRecord">-->

        <!--<property name="kor" value="20"/>-->
        <!--<property name="eng" value="30"/>-->
        <!--<property name="math" value="40"/>-->
    <!--</bean>-->

    <!--<bean id="record" name="r1,r2 r3;r4" class="di.NewlecRecord">-->

        <!--<constructor-arg value="10" />-->
        <!--<constructor-arg value="20" />-->
        <!--<constructor-arg value="30" />-->
    <!--</bean>-->

    <bean id="record" name="r1,r2 r3;r4" class="di.NewlecRecord"
    p:kor="50" p:eng="60" p:math="70">

    </bean>

    <bean id="view" class="di.NewlecRecordView">
        <property name="record" ref="record"/>
    </bean>

    <bean id="cal" class="aop.NewlecCalculator" />
    <bean id="logPrintAroundAdvice" class="aop.LogPrintAroundAdvice" />
    <bean id="logPrintBeforeAdvice" class="aop.LogPrintBeforeAdvice" />
    <bean id="logPrintAfterReturnningAdvice" class="aop.LogPrintAfterReturnningAdvice" />
    <bean id="logPrintAfterThrowingAdvice" class="aop.LogPrintAfterThrowingAdvice" />

    <!--<bean id="namePointCut" class="org.springframework.aop.support.NameMatchMethodPointcut">-->

        <!--<property name="mappedNames">-->
            <!--<list>-->
                <!--<value>add</value>-->
                <!--<value>sub</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->


    <!--<bean id="nameAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">-->

        <!--<property name="mappedNames">-->
            <!--<list>-->
                <!--<value>add</value>-->
                <!--<value>sub</value>-->
            <!--</list>-->
        <!--</property>-->
        <!--<property name="advice" ref="logPrintAroundAdvice"/>-->
    <!--</bean>-->

    <bean id="nameAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">

        <property name="patterns">
            <list>
                <value>a.*</value>
                <value>.*b</value>
            </list>
        </property>
        <property name="advice" ref="logPrintAroundAdvice"/>
    </bean>


    <bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">

        <property name="target" ref="cal"/>
        <property name="interceptorNames">
            <list>
                <value>nameAdvisor</value>
                <!--<value>logPrintAroundAdvice</value>-->
                <!--<value>logPrintBeforeAdvice</value>-->
                <!--<value>logPrintAfterReturnningAdvice</value>-->
                <!--<value>logPrintAfterThrowingAdvice</value>-->
            </list>
        </property>


    </bean>


</beans>